<div class="container">
	
	<div class="preloader">
		<div class="progress progress-striped active">
			<div id="progress_bar" class="bar" style="width:0%;"></div>
		</div>
	</div>
	
	<div data-username="<%= @username %>" id="results" class="hidden">
	</div>
	
	<div id="progress_data" class="hidden"></div>

</div>