<div class="container">
	
	<div class="preloader">
		<div class="progress progress-striped active">
			<div class="bar" style="width: 40%"></div>
		</div>
	</div>
	
	<div data-username="<%= @username %>" id="results">
	</div>

</div>