<p id="notice"><%= notice %></p>

<table>
<tr>
<th>Username</th>
<th>Favorited</th>
</tr>

<% @counts.each do |username, count| %>
	<tr>
		<td> <%= username %> </td>
		<td> <%= count %> </td>
	</tr>
<% end %>

</table>
