<div class="container"> 

	<div class="hero-unit"> 
	
		<h1>My favorite tweeters</h1>
		
		<p>See the twitter users whose tweets you've favorited the most.</p>
		
		<p><a href="/auth/twitter" class="btn btn-primary">Sign in with Twitter</a></p>

	</div>
</div>
