<div class="container">
	<div class="well">
	
	<h2>So, what is this?</h2>
	
	<p> This app is my way of making a feature that I wish Twitter (or Favstar.fm) had - which users have I favorited the most tweets from? The app grabs your favorites, crunches some numbers, then presents your results, along with a randomly selected tweet you've favorited. </p>
	
	<h2>Who are you?</h2>
	
	<p>I'm <a href="http://www.twitter.com/alexpelan" class="normal">@alexpelan</a>, but my friends just call me Alex Pelan. I'm interested in using technology to make the world a better place. The code is freely available on <a href="https://github.com/alexpelan/lujack" class="normal">Github</a>. Please don't hesitate to request enhancements, fix bugs, criticize, or praise my code.</p>
	
	<a href="mailto:alexpelan@gmail.com" class="btn"><i class="icon-envelope"></i> alexpelan@gmail.com</a>
	
	
	
	</div>
</div>