/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */
 
body{
	padding-top: 60px;	
}

#tweet{
	width: 750px;	
	margin-left: 100px;
}

.embedded_tweet{
	float: left;
	width: 500px;	
}

.user_details{
	padding-top: 20px;	
}

.favorite_user_list div{
	margin: 20px;	
}

.favorite_user_list ul{
	list-style-type: none
	width: 500px;
	margin: 0;	
}

h3 {
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;	
}

.favorite_user_list li p{
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.favorite_user_list li {
	padding: 10px;
	overflow: auto;	
	list-style-type: none;
}

.favorite_user_list li:hover{
	background: #eee;
	cursor: pointer;
}

.hidden{
	display: none;	
}

.override_bootstrap_a_hover:hover{
	background-color: none;
}

.alert-results{
	margin: 0 auto;
	width: 500px;
}
