<% initialize_show_try_again %>

<div class="container">
	<div class="alert alert-error alert-results">
		<%= flash[:error_human_readable].html_safe %>
		<% if @show_try_again %>
		 	<a href="/auth/twitter" class="btn btn-primary">Try Again</a>
		<% end %>
		<a href="#" class="close" data-dismiss="alert">&times;</a>
	</div>
</div>
