<div class="alert alert-info alert-results">
	Want to view your own results? <a href="/auth/twitter" class="btn btn-primary">Sign in with Twitter</a> 
	<a class="close override_bootstrap_a_hover" data-dismiss="alert" href="#">&times;</a>
</div>
