<div class = "alert alert-success alert-results">
	Tweet was sent successfully. Thanks for spreading the word!
	<a class="close override_bootstrap_a_hover" data-dismiss="alert" href="#">&times;</a>
</div>
